include README.rst
include CHANGES.rst
include LICENSE
include tox.ini

graft docs
prune docs/_build

graft src
recursive-exclude src/jt/rubicon *.py_
exclude src/jt/rubicon/jni/*.mk
exclude src/jt/rubicon/jni/*.c

graft tests
exclude tests/_info_.txt tests/_report_.txt

global-exclude .build .build.*
global-exclude *.py[co] __pycache__
